<div class="col-md-4">
	<article id="{{this.id}}">
		<div class="">
			<h3>
				<a href="/projects/{{this.title}}" class="">{{this.title}}</a>
			</h3>

			<p class="">{{this.data}}</p>

			<div class="thumb">
				<a href="/projects/{{this.title}}" class="card-link">
					<img src="https://www.what-dog.net/Images/faces2/scroll0015.jpg" alt="{{this.title}}" class="">
				</a>
			</div>

			<p class="short-desc">
				{{this.shortDesc}}
			</p>

			<div>
				<a href="{{this.demo}}" target="_blank" title="Demo will open in a new window">Live Demo</a>
				<a href="/projects/{{this.title}}">Read More</a>
			</div>
		</div>
	</article>
</div>