<div class="col-md-4">
	<div class="card" id="{{this.id}}">
		<a href="/projects/{{this.title}}" class="text-none">
			<div class="card-img" style="background-image: url({{this.image}});" alt="{{this.title}}"></div>
			<div class="card-content">
				<div class="card-tags mbs">
					<div class="card-tag">{{this.data}}</div>
				</div>
				<h4 class="">{{this.title}}</h4>
				<p class="mb0">{{this.shortDesc}}</p>
			</div>
		</a>
	</div>
</div>