<li>
	<figure>
		<img src="https://www.what-dog.net/Images/faces2/scroll0015.jpg" alt="{{this.title}}">
		<figcaption>
			<h3 class="pzero mzero">{{this.title}}</h3>
			<span>{{this.data}}</span>
			<a href="{{this.demo}}" target="_blank">Take a look</a>
		</figcaption>
		<a href="/projects/{{this.title}}" class="card-link">View</a>
	</figure>
</li>


<article id="post-24222" class="ct-box post-24222 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-clippath tag-grid tag-layout tag-svg">
		<div class="ct-box-inner">
			<h3>
				<a href="https://tympanus.net/codrops/2015/06/18/card-expansion-effect-svg-clippath/" class="">Card Expansion Effect with SVG clipPath</a>
			</h3>

			<p class="ct-subline">subtitle </p><!--//ct-subline-->

			<div class="ct-latest-thumb">
				<a href="https://tympanus.net/codrops/2015/06/18/card-expansion-effect-svg-clippath/" class="ct-trans">
					<img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2015/06/CardExpansion-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="CardExpansion">
				</a>
			</div><!-- //ct-latest-thumb-->

				<p class="ct-feat-excerpt">
					A morphing card expansion effect enhanced by a low poly background animation, using SVG clipPath and Trianglify.										...
				</p><!--//ct-feat-excerpt-->

			<div class="clr"></div>
		</div>
	</article>