<!-- projects gallery -->
	<div class="container content-area">
		<div class="row">
		    <div class="gallery">
			    <figure>
					<img src="{{this.image}}" alt="{{this.title}}">
					<figcaption>
						<h3 class="">{{this.title}}</h3>
						{{#if this.demo}}
							<a href="{{this.demo}}"  target="_blank" class="prl">Live Demo</a>
						{{/if}}

						{{#if this.github}}
							<a href="{{this.github}}"  target="_blank">See the code</a>
						{{/if}}
						
						<p class="long-desc">
							{{this.longDesc}}
						</p>
					</figcaption>
				</figure>
		    </div>
		</div>
	</div>